$white: white;
$black: black;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$font: 'Roboto', sans-serif;
$light: #f6f9fb;
$lightB: #b2e2fe;
$dark: #3f4d4e;
$blue: #6ac4fe;
$blue2: #62aefb;
$blue3: #2254e0;
$newBlue: #3366cc;

