@import'variables';

*{
    margin:0;
    padding:0;
}
body {
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
}
.container {
    width: 85%;
    margin: auto;
}
.text-center {
    text-align: center;
}
